.component {
  width: 100%;
  position: relative;
}

.component--section {
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  display: flex;
  padding: 2rem;
}

.component--section-1col {
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @media(min-width: 768px) {
    flex-flow: row wrap;
  }

  .component__block {
    width: 100%;

    @media(min-width: 768px) {
      width: calc(100% - 4rem);
    }
  }
}

.component--section-2col {
}

.component--section-revers {
  flex-flow: row-reverse;
}

.component__block--felx-column {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.component__block--50 {

  @media(min-width: 768px) {
    padding: 2rem;
    max-width: calc(50% - 4rem);
    width: 100%;
  }
}
