.footnote {
  margin: 4rem 0;
  position: relative;

  :target {
    background-color: var(--color-yellow);
  }

  &:before {
    @extend %fa-icon;
    @extend .far;
    font-size: 8rem;
    content: fa-content($fa-var-check-circle);
    position: absolute;
    left: -9rem;
    top: 0;
  }
}

.footnote-title {
  font-family: $font-display;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

.footnote-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 55ch;

  .footnote-list__item {
    padding: 1rem;
  }

  p {
    font-size: 0.8rem;
    max-width: 55ch;
  }
}

a[aria-describedby^="footnote-"] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
}

a[aria-describedby^="footnote-"]::after {
  content: '[' counter(footnotes) ']';
  vertical-align: super;
  font-size: 0.5em;
  margin-left: 2px;
  color: var(--color-black);
  text-decoration: none;
  cursor: pointer;
}

a[aria-describedby^="footnote-"]:focus::after,
a[aria-describedby^="footnote-"]:hover::after {
  color: var(--color-blue-dark);
  outline: thin dotted;
  outline-offset: 2px;
}
