.site-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: $padding;
  background-image: url('https://mediasmarts.ca/sites/mediasmarts/themes/mediasmarts/images/backgrounds/header_bgr.png');
  background-position: right -50px;
  background-repeat: no-repeat;

  @media(min-width: 768px) {
    width: 100%;
  }
}

.site-header__logo {
  background: none;

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.site-header__social-list {

  @media(min-width: 768px) {
    width: 100%;
    max-width: 50%;
  }
}

.lang-link {
  @media(min-width: 768px) {
    position: absolute;
    top: 6rem;
  }
}
