.list {
  padding: 0;
  margin: 0;
}

.list--flex {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.list--bullet {
  list-style: disc;

  li {
    margin: 0 0 1rem 1rem;
  }
}

.list-number {
  list-style: decimal;

  li {
    margin-left: 1rem;
  }
}

.list--center {
  justify-content: center;
  align-items: center;
}

.list--right {
  justify-content: flex-end;
}

.list--pad-half {
  li {
    padding: 0.5rem;
  }
}

.list--menu {
  display: flex;
  position: relative;
  z-index: map-get($z-index, navigation);
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100vw;
}

.menu-container {
  @media(min-width: 1200px) {
    position: absolute;
    max-height: 200px;
    height: 100%;
    max-width: 100%;
    bottom: -2rem;
    overflow: hidden;
    padding-top: 10rem;
    z-index: map-get($z-index, footer);

    &:after {
      content: "";
      position: absolute;
      background-color: var(--color-paper);
      width: 200vw;
      height: 100vw;
      border-radius: 50%;
      display: block;
      top: 8rem;
      left: -50vw;
    }
  }
}

.menu__item {
  margin: 1rem;
  position: relative;
}

.menu__item__link {
  background: none;
  color: var(--color-blue-dark);

  &:hover,
  &:focus {
    color: var(--color-purple);
    img {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }
}

.toggle-menu {
  &:checked + .toggle-menu__label {
    color: var(--color-purple);

    + .toggle-menu__content {
      height: 180px;
      width: 320px;
      bottom: 50px;
      padding: 0 1rem;
      max-height: none;
      background-color: var(--color-blue-light);
      -webkit-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
    }
  }
}

.toggle-menu__label {

}

.toggle-menu__content {
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  border-radius: 2rem;

  li {
    margin: 0.25rem;
  }

  a {
    font-size: 1rem;
    color: var(--color-paper);
    transition: all .4s ease;

    &:focus,
    &:hover {
      strong {
        border-bottom: 2px solid;
      }
    }
  }
}

// Definition list

dl {
  margin: 0 2rem 0 0;
  padding: 0;
  max-width: 40rem;
}

dt {
  font-size: 1.4rem;
  margin: 0 0 1rem;
  padding: 0;
}

dd {
  font-size: 1.2rem;
  margin: 0 0 2rem;
  padding: 0;
}
