.list {
  padding: 0;
  margin: 0;
}

.list--flex {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.list--bullet {
  list-style: disc;

  li {
    margin: 0 0 1rem 1rem;
  }
}

.list-number {
  list-style: decimal;

  li {
    margin-left: 1rem;
  }
}

.list--center {
  justify-content: center;
  align-items: center;
}

.list--right {
  justify-content: flex-end;
}

.list--pad-half {
  li {
    padding: 0.5rem;
  }
}

.list--menu {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100vw;
}

.menu-container {
  @media(min-width: 1200px) {
    position: absolute;
    max-height: 320px;
    height: 100%;
    max-width: 100%;
    bottom: -2rem;
    padding-top: 10rem;
  }
}

.menu__item {
  margin: 1rem;
  position: relative;
}

.menu__item__link {
  background: none;
  color: var(--color-blue-dark);

  &:hover,
  &:focus {
    color: var(--color-purple);
    img {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }
}

.toggle-menu {
  &:checked + .toggle-menu__label {
    color: var(--color-purple);

    .toggle__lable__text {
      &:before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-times-circle);
        color: var(--color-paper);
        font-size: 2rem;

        position: fixed;
        z-index: 99999999;
        top: 1rem;
        right: 1rem;

        @media (min-width: 768px) {
          position: absolute;
          top: auto;
          right: 1rem;
          bottom: calc(240px + 2rem);
          left: auto;
        }
      }
    }

    + .toggle-menu__content {
      position: fixed;
      height: 100vh;
      max-height: none;
      width: 100vw;
      left:0;
      bottom: 0;
      padding: 0 1rem;
      background-color: var(--color-blue-light);
      -webkit-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      z-index: map-get($z-index, modal);

      @media (min-width: 768px) {
        position: absolute;
        padding: 1rem;
        min-width: 320px;
        height: calc(240px + 2rem);
        top: auto;
        right: 0;
        bottom: 3rem;
        left: auto;
        border-radius: 2rem;
      }
    }
  }
}

.toggle-menu__label {

}

.toggle-menu__content {
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-height: 0;
  overflow: hidden;
  position: absolute;

  li {
    margin: 0.5rem;
  }

  a {
    font-size: 1rem;
    color: var(--color-paper);
    transition: all .4s ease;
    padding: 0;
    line-height: 1.5rem;
    display: flex;

    &:before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-link);
      display: inline-block;
      margin-right: 1rem;
    }

    &:focus,
    &:hover {
      strong {
        border-bottom: 2px solid;
      }
    }
  }
}

// Definition list

dl {
  margin: 0 2rem 0 0;
  padding: 0;
  max-width: 40rem;
}

dt {
  font-size: 1.4rem;
  line-height: 1.55em;
  margin: 0 0 1rem;
  padding: 0;
}

dd {
  font-size: 1.2rem;
  line-height: 1.55em;
  margin: 0 0 2rem;
  padding: 0;
}
