.popup {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  margin: 0;
  padding: 0;
}

.popup__item {
  max-width: 320px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
  border-radius: 2rem;
  margin: 2rem;
  background: var(--color-paper);
  -webkit-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
  box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);

  @media(min-width: 1200px) {
    margin: 0 2rem;
  }
}

.popup__toggle {
  &:hover + .popup__toggle-label,
  &:focus + .popup__toggle-label {
    .popup__icon {
      color: var(--color-blue);
    }
  }


  &:checked + .popup__toggle-label {
    .popup__icon {
      color: var(--color-paper);
      position: absolute;
      top: -2rem;
      z-index: +2;
      right: 2rem;

      &.popup__icon--bg-white {
        color: var(--color-blue);
      }

      &:after {
        font-size: 2rem;
        content: fa-content($fa-var-times-circle);
      }
    }

    + .popup__container {
      opacity: 1;
      height: 600px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: -2rem;
      background-color: var(--color-paper);
      -webkit-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
    }
  }
}

.popup__container {
  position: absolute;
  z-index: +1;
  height: 0;
  border-radius: 2rem;
  overflow: hidden;
  transition: opacity .4s ease;
  opacity: 0;
}

.popup__image {
  width: 220px;
  height: auto;
}

.popup__icon {
  @extend %fa-icon;
  @extend .fas;
  color: var(--color-green);

  &:after {
    margin-top: 2rem;
    font-size: 4rem;
    display: block;
    content: fa-content($fa-var-chevron-circle-right);
    transition: all .4s ease;
  }
}
