.popup {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  margin: 0;
  padding: 0;
}

.popup__item {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0 2rem;

  @media(min-width: 768px) {
    padding: 4rem;
    border-radius: 2rem;
    margin: 2rem;
    background: $color-paper;
    -webkit-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
    box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
  }

  @media(min-width: 1200px) {
    margin: 0 2rem;
  }
}

.popup__toggle {
  + .popup__toggle-label {
    padding-top: 1rem;

    .text-break {
      display: block;
    }
  }

  &:hover + .popup__toggle-label,
  &:focus + .popup__toggle-label {
    .popup__icon {
      color: $color-blue;
    }
  }


  &:checked + .popup__toggle-label {
    .popup__icon {
      color: $color-paper;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: +1;
      z-index: map-get($z-index, modal-controls);

      @media (min-width: 768px) {
        top: 2rem;
        right: 2rem;
      }

      &.popup__icon--bg-white {
        color: $color-black;
      }

      &:after {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        content: fa-content($fa-var-times-circle);
      }
    }

    + .popup__container {
      opacity: 1;
      height: 100vh;
      width: 100vw;
      overflow-y: scroll;
      left: 50%;
      transform: translateX(-50%);
      position: fixed;
      z-index: map-get($z-index, modal);
      top: 0;
      background-color: $color-paper;
      -webkit-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
    }
  }
}

.popup__container {
  position: absolute;
  z-index: +1;
  height: 0;
  overflow: hidden;
  transition: opacity .4s ease;
  opacity: 0;
}

.popup__image {
  width: 220px;
  height: auto;
}

.popup__icon {
  @extend %fa-icon;
  @extend .fas;
  color: $color-green;

  &:after {
    margin-top: 2rem;
    font-size: 4rem;
    display: block;
    content: fa-content($fa-var-chevron-circle-right);
    transition: all .4s ease;
  }
}
