// Intro section
#section-intro {
  flex-flow: row wrap;
  justify-content: flex-end;
  overflow: hidden;
  background-color: var(--color-blue);
  position: relative;
  min-height: 900px;

  #section-intro-1 {
    width: 100%;
    max-width: 70ch;
    margin: 4rem 2rem 0 0;
    z-index: +1;

    .h1 {
      text-transform: uppercase;
      color: var(--color-paper);
      font-weight: 900;
      font-size: 4rem;
      line-height: 1.125em;
    }
    .h2 {
      color: #000;
      font-size: 2.5rem;
      line-height: 1.25em;
      font-weight: 500;
    }
  }

  #section-intro-2 {
    position: absolute;
    top: -4rem;
    left: -25%;
  }

  #section-intro-3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    z-index: +1;

    a {
      box-sizing: border-box;
      color: var(--color-paper);
      font-size: 1.2rem;
      font-weight: 900;
      line-height: 1.5rem;
      text-decoration: none;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      width: 200px;
      height: 150px;
      border-radius: 0 0 50% 50%;
      transition: all .2s ease-in-out;
      position: relative;
      background:
       linear-gradient(
         to bottom, rgba(0,0,0,0) 0%,
         rgba(0,0,0,0.9) 100%
       );
       background-position: 0 100%;
       background-repeat: repeat-x;
       background-size: 4px 4px;

      &:hover,
      &:focus {
        padding-top: 2rem;
        background-size: 4px 100%;

        img {
          top: 3.5rem;
        }
      }
    }

    img {
      position: absolute;
      top: 1.5rem;
      width: auto;
      height: 58px;
      margin-top: 0.5rem;
      transition: all .2s ease-in-out;
    }
  }
}

// Section One
#section-check-first {
  min-height: calc(100vh - 2rem);
  height: auto;

  .h2 {
    font-size: 6em;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
  }

  #section-check-list {
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;

    li {
      width: 100%;
      position: relative;
      min-height: 430px;

      p {
        font-size: 1.4rem;
        line-height: 1.25em;
        z-index: +1;
        max-width: 25ch;
        display: inline-block;

        strong {
          font-size: 4rem;
          text-transform: uppercase;
        }
      }
    }

    #section-check-list-item-1 {
      margin: 0 0 0 10rem;
      p {
        margin: 6rem 0 0 20rem;
      }

      #image-check-where {
        width: 430px;
        height: auto;
        position: absolute;
        z-index: -1;
      }

      #image-yellow-arrow {
        width: 212px;
        height: auto;
        position: relative;
        z-index: -1;
      }
    }

    #section-check-list-item-2 {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: flex-start;
      margin: -10rem 32rem 0 0;

      p {
        margin: 23rem 3rem 0 0;
      }

      #image-check-trusted {
        width: 430px;
        height: auto;
        position: absolute;
        right: 0;
        z-index: -1;
      }

      #image-purple-arrow {
        width: 212px;
        height: auto;
        position: relative;
        z-index: -1;
        top: 22rem;
        right: 30rem;
      }
    }
    #section-check-list-item-3 {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 4rem 0 0 18rem;

      p {
        margin: 16rem 0 0 23rem;
      }

      #image-check-authorities {
        width: 430px;
        height: auto;
        position: absolute;
        left: 0;
        z-index: -1;
      }

      #image-blue-arrow {
        width: 170px;
        height: auto;
        position: relative;
        z-index: -1;
        top: 23rem;
        left: -6rem;
      }
    }

    #section-check-list-item-4 {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: flex-start;
      margin: 0 20rem 0 0;

      p {
        margin: 20rem 19rem 0 0;
        max-width: 30ch;
      }

      #image-share {
        width: 430px;
        height: auto;
        position: absolute;
        right: 0;
        z-index: -1;
      }
    }
  }
}


// Section two
#section-share-this {
  height: auto;
  max-width: calc(100% - 40vw);
  padding: 2rem 20vw;
  justify-content: space-around;
  background-color: #F4F4F4;

  .h2 {
    font-size: 3.5rem;
    line-height: 1.25em;
    font-weight: 200;
  }

  .component__block--50 {
    h2,
    h3,
    p {
      max-width: 55ch;
    }
  }
}

// Section 3
#section-bad-info {
  flex-flow: column;
  align-items: center;
  color: var(--color-paper);
  background-color: var(--color-blue);
  background-image: url(../assets/exports/passing-virus-background.png);
  height: auto;

  .h2 {
    font-size: 3.5rem;
    line-height: 1.25em;
    font-weight: 200;
  }
}


// Section 4
#section-helpful-resources {
  flex-flow: column;
  align-items: center;
  min-height: 900px;
  color: var(--color-black);
  background-color: var(--color-paper);
  background-image: url(../assets/exports/resources-background.png);
  background-repeat: no-repeat;
  background-position: center 1rem;
  height: auto;
  position: relative;

  .h2 {
    font-size: 3.5rem;
    line-height: 1.25em;
    font-weight: 200;
    text-align: center;
  }

  .section__line-one {
    font-size: 1.2rem;
    font-weight: 200;
  }

  .section__line-two {
    font-size: 2rem;
    font-weight: 900;
  }

  .break-fake-logo {
    width: 170px;
    height: auto;
  }
}

.footer {
  position: relative;
  background-color: var(--color-paper);
  z-index: 100;
  padding: 6rem 2rem 0;

  .h2 {
    font-size: 1.6rem;
    line-height: 1.25em;
    font-weight: 200;
    margin: 0;
  }

  small {
    padding: 2rem;
    text-align: center;
    display: block;
  }
}

#section-about {
  background-image: url('../assets/exports/about-campaign.png');
  background-repeat: no-repeat;
  background-position: top left;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  .h1 {
    color: var(--color-paper);
    font-size: 4.5rem;
    text-transform: uppercase;
    margin: 0;
  }

  .h2 {
    margin-top: 0;
  }

  .mediasmarts-notag {
    width: 164px;
    height: auto;
  }

  .component__block--left,
  .component__block--right {
    width: 100%;
    max-width: 36rem;
  }
}


#campaign-partners {
  justify-content: center;
  align-items: center;

  .h2 {
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-purple);
  }

  .component__block {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .partners-list {
    flex-flow: row wrap;
    align-items: center;

    li {
      margin: 2rem 4rem;
    }
  }

  .backlink {
    margin-top: 4rem;
  }
}
