// Intro section
#section-intro {
  width: 100%;
  flex-flow: column;
  background-color: var(--color-blue);
  position: relative;
  padding: 1rem;
  height: auto;

  @media(min-width: 768px) {
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  @media (min-width: 1200px) {
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-end;
    overflow: hidden;
    min-height: 1100px;
    background-color: var(--color-paper);
  }

  #section-intro-1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-blue);
    width: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
      max-width: 55%;
      align-items: flex-start;
    }

    @media (min-width: 1200px) {
      max-width: 80ch;
      padding: 6rem 2rem 0 2rem;
      z-index: +1;
      background: none;
      background-image:
        radial-gradient(
          circle at -100% 50%,
          rgba(96,153,252,0) 52%,
          rgba(96,153,252,1) 55%
        );
    }

    @media (min-width: 1680px) {
      background: none;
    }

    .h1,
    .h2 {
      width: 80%;

      .fr & {
        width: 100%;
      }
    }

    .h1 {
      text-transform: uppercase;
      color: var(--color-paper);
      font-weight: 900;
      font-size: 2rem;
      line-height: 1.125em;
    }
    .h2 {
      color: #000;
      font-size: 1.25rem;
      line-height: 1.25em;
      font-weight: 500;
      font-family: $font-body;

      strong {
        font-family: $font-display;
      }
    }

    @media (min-width: 768px) {
      .h1 {
        font-size: 3rem;
      }
      .h2 {
        font-size: 2rem;
        margin-top: 0
      }
    }
  }

  #section-intro-2 {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;

    @media(min-width: 768px)and(max-width: 1199px) {
      max-width: 40%;
      overflow: hidden;

      .responsive-image {
        width: 60vw;
        max-width: none;
      }
    }

    @media (min-width: 1200px) {
      position: absolute;
      top: 0;
      left: 0;

      .responsive-image {
        max-width: none;
      }
    }
  }

  #section-intro-3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    z-index: +1;

    .link {
      color: var(--color-paper);
      font-size: 1.2rem;
      font-weight: 900;
      line-height: 1.5rem;
      text-decoration: none;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      width: 200px;
      height: 150px;
      border-radius: 0 0 50% 50%;
      transition: all .2s ease-in-out;
      position: relative;
      background: none;

      &:hover,
      &:focus {
        img {
          top: 3.5rem;
        }
      }
    }

    img {
      position: absolute;
      top: 1.5rem;
      width: auto;
      height: 58px;
      margin-top: 0.5rem;
      transition: all .2s ease-in-out;
    }
  }
}

// Section One
#section-check-first {
  min-height: calc(100vh - 2rem);
  height: auto;

  background-image: url('../assets/exports/footnote-background.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100vw auto;

  .h2 {
    font-size: 4em;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;

    @media(min-width: 768px) {
      font-size: 6em;
    }
  }

 > .component__block {
   max-width: 1440px;
 }

  #section-check-list {
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      width: 100%;
      flex-flow: row wrap;
      justify-content: center;
    }

    li {
      width: 100%;
      position: relative;
      margin-bottom: 2rem;

      @media(min-width: 1200px) {
        min-height: 430px;
      }

      p {
        font-size: 1.4rem;
        line-height: 1.6em;
        z-index: +1;
        max-width: 25ch;
        display: inline-block;

        .fr & {
          max-width: 34ch;
        }

        strong {
          font-family: $font-display;
          font-size: 4rem;
          line-height: 1em;
          text-transform: uppercase;
        }
      }

      @media (max-width: 1000px) {
        .text-break {
          display: inline;

          strong {
            display: block;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .fr & {
      .text-break {
        display: inline;
      }
    }

    #section-check-list-item-1 {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      p {
        padding: 0;
      }

      @media (min-width: 1200px) {
        display: flex;
        justify-content: normal;
        align-items: normal;
        flex-flow: row wrap;
        margin: 0 0 0 5rem;

        p {
          margin: 6rem 0 0 20rem;
        }
      }

      #image-check-where {
        width: 100%;
        max-width: 25vw;

        @media (min-width: 1200px) {
          width: 430px;
          max-width: none;
          height: auto;
          position: absolute;
          z-index: -1;
        }
      }

      #image-yellow-arrow {
        display: none;
        visibility: hidden;

        @media(min-width: 1200px) {
          display: block;
          visibility: visible;
          width: 212px;
          height: 230px;
          margin: 4rem;
          transform: rotate(-15deg);
          position: relative;
          z-index: -1;
        }
      }
    }

    #section-check-list-item-2 {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      @media(min-width: 640px) {
        flex-flow: row-reverse;
      }

      p {
        padding: 0;
      }

      @media (min-width: 1200px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-start;
        margin: -10rem 12rem 0 0;

        p {
          margin: 23rem 3rem 0 0;
        }
      }

      #image-check-trusted {
        width: 100%;
        max-width: 25vw;
        margin-left: 2rem;

        @media (min-width: 1200px) {
          width: 430px;
          height: auto;
          position: absolute;
          right: 0;
          z-index: -1;
        }
      }

      #image-purple-arrow {
        display: none;
        visibility: hidden;

        @media(min-width: 1200px) {
          display: initial;
          visibility: visible;
          width: 212px;
          height: auto;
          position: relative;
          z-index: -1;
          top: 22rem;
          right: 40rem;
        }
      }
    }
    #section-check-list-item-3 {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      p {
        padding: 0;
      }

      @media (min-width: 1200px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 4rem 0 0;

        p {
          margin: 16rem 0 0 23rem;
        }
      }

      #image-check-authorities {
        width: 100%;
        max-width: 25vw;

        @media (min-width: 1200px) {
          width: 430px;
          height: auto;
          position: absolute;
          left: 0;
          z-index: -1;
        }
      }

      #image-blue-arrow {
        display: none;
        visibility: hidden;

        @media(min-width: 1200px) {
          display: initial;
          visibility: visible;
          width: 170px;
          height: auto;
          position: relative;
          z-index: -1;
          top: 22rem;
          left: 3rem;
        }
      }
    }

    #section-check-list-item-4 {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      @media(min-width: 640px) {
        flex-flow: row-reverse;
      }

      p {
        padding: 0;
      }

      @media (min-width: 1200px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-start;
        margin: 0 10rem 0 0;

        p {
          margin: 20rem 19rem 0 0;
          max-width: 30ch;
        }
      }

      #image-share {
        width: 100%;
        max-width: 25vw;

        @media (min-width: 1200px) {
          width: 430px;
          height: auto;
          position: absolute;
          right: 0;
          z-index: -1;
        }
      }
    }
  }
}


// Section two
#section-share-this {
  flex-flow: column;
  height: auto;
  max-width: 100%;
  padding: 1rem;
  justify-content: space-around;
  background-color: #F4F4F4;

  @media (min-width: 768px) {
    max-width: 100%;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .h2 {
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 200;
    margin: 3rem 0 2rem;

    @media(min-width: 640px) {
      font-size: 3.5rem;
    }
  }

  .component__block--50 {
    h2,
    h3,
    p {
      max-width: 55ch;
    }
  }
}

// Section 3
#section-bad-info {
  flex-flow: column;
  align-items: center;
  color: var(--color-paper);
  background-color: var(--color-blue);
  background-image: url(../assets/exports/passing-virus-background.png);
  height: auto;

  .h2 {
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 200;
    margin: 3rem 0 2rem;

    @media(min-width: 640px) {
      font-size: 3.5rem;
    }
  }
}


// Section 4
#section-helpful-resources {
  flex-flow: column;
  align-items: center;
  min-height: 900px;
  color: var(--color-black);
  background-color: var(--color-paper);
  background-image: none;
  background-repeat: no-repeat;
  background-position: center -5rem;
  height: auto;
  position: relative;

  @media(min-width: 1200px) {
    background-image: url(../assets/exports/resources-background.png);
  }

  .h2 {
    font-size: 2rem;
    line-height: 1.25em;
    text-align: center;

    @media(min-width: 768px) {
      font-size: 3.5rem;
      margin: 3rem 0 2rem;
    }
  }

  .section__line-one {
    font-size: 1.2rem;
    font-weight: 200;
  }

  .section__line-two {
    font-size: 2rem;
    font-weight: 900;
  }

  .break-fake-logo {
    width: 170px;
    height: auto;
  }
}

.footer {
  position: relative;
  background-color: var(--color-paper);
  z-index: map-get($z-index, footer);
  padding: 6rem 2rem 0;

  .h2 {
    font-size: 1.6rem;
    line-height: 1.25em;
    font-weight: 200;
    margin: 0;
  }

  small {
    padding: 2rem;
    text-align: center;
    display: block;
  }
}

#section-about {
  flex-flow: column;
  background-image: url('../assets/exports/about-campaign.png');
  background-repeat: no-repeat;
  background-position: top left;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: auto;

  @media(min-width: 768px) {
    flex-flow: row wrap;
    height: auto;
    height: 100vh;
    padding: 2rem;
  }

  .h1 {
    color: var(--color-paper);
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;

    @media(min-width: 768px) {
      font-size: 4.5rem;
    }
  }

  .h2 {
    margin-top: 0;
  }

  .mediasmarts-notag {
    width: 164px;
    height: auto;
  }

  .component__block--left,
  .component__block--right {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 1rem;

    @media(min-width: 768px) {
      padding: 2rem;
      max-width: 36rem;
      justify-content: center;
    }
  }

  .component__block--right {
    background-color: var(--color-paper);
  }
}


#campaign-partners {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: auto;

  @media(min-width: 768px) {
    flex-flow: row wrap;
    height: auto;
    height: 100vh;
    padding: 2rem;
  }

  .h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-purple);

    @media(min-width: 768px) {
      font-size: 4.5rem;
    }
  }

  .component__block {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .partners-list {
    flex-flow: row wrap;
    align-items: center;

    li {
      margin: 2rem 4rem;
    }
  }

  .backlink {
    margin-top: 4rem;
  }
}

#popup-what-can-i-do {
  display: flex;
  flex-flow: column;
  align-items: center;

  #popup-what-can-i-do__pt-1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-blue);
    width: 100%;

    @media(min-width: 768px) {
      background-image: url('../assets/exports/what-can-i-do-background.png');
      background-size: auto 400px;
      background-repeat: no-repeat;
    }

    .wrapper {
      width: 100%;
      max-width: 1280px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      @media (min-width: 768px) {
        flex-flow: column;
        align-items: flex-end;
      }

      @media(min-width: 1200px) {
        flex-flow: row wrap;
        align-items: center;
      }
    }

    .component__block--left {

      @media(min-width: 768px) {
        width: 100%;
        width: 70%;
        padding: 2rem;
      }

      @media(min-width: 1200px) {
        max-width: 50%;
      }

      .h2 {
        font-size: 2rem;
        line-height: 1em;
        font-weight: 900;
        color: var(--color-paper);
        text-transform: uppercase;
        text-align: left;
        margin: 0;

        @media(min-width: 768px) {
          font-size: 3.5rem;
        }
      }

      p {
        color: var(--color-paper);
        font-size: 1.2rem;
        max-width: 42ch;
        margin-top: 0;
      }
    }

    .component__block--right {
      color: var(--color-paper);

      @media(min-width: 768px) {
        width: 100%;
        width: 70%;
        padding: 2rem;
      }

      @media(min-width: 1200px) {
        max-width: 50%;
      }

      .h3 {
        font-size: 1.2rem;
      }

      ol {
        li {
          margin-bottom: 2rem;
        }
      }
    }
  }

  #popup-what-can-i-do__pt-2 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1280px;

    .h3 {
      font-size: 1.2rem;
    }

    .component__block--left {
      width: 100%;
      padding: 1rem;

      @media(min-width: 768px) {
        max-width: 50%;
        padding: 2rem;
      }

      p {
        font-size: 1rem;
        max-width: 42ch;
      }
    }

    .component__block--right {
      width: 100%;
      padding: 1rem;

      @media(min-width: 768px) {
        max-width: 50%;
        padding: 2rem;
      }

      p {
        font-size: 1rem;
        max-width: 55ch;
      }
    }
  }
}

#popup-search-engine {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  @media(min-width: 768px) {
    background-image: url('../assets/exports/search-engine-background.png');
    background-size: auto 600px;
    background-position: bottom left;
    background-repeat: no-repeat;
    justify-content: flex-start;
    padding-top: 4rem;
  }

  @media(min-width: 960px) {
    justify-content: center;
    padding-top: 0;
  }

  .h2 {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1em;
    text-transform: uppercase;
    color: var(--color-purple);

    @media(min-width: 768px) {
      font-size: 3rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
  }

  p {
    text-align: center;
    max-width: 55ch;
  }

  .component__block {
    max-width: 1024px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #search-list {
    width: 100%;

    li {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-content: center;
      width: 100%;

      .h4 {
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}

#popup-deep-dive {

  #popup-deep-dive-content {
    width: 101%;
    height: 100vh;
    overflow-y: scroll;

    @media (min-width: 768px) {
      background-image: url('../assets/exports/deep-dive-background.png');
      background-size: auto 100%;
      background-position: 32% 0;
      background-repeat: no-repeat;
    }

    @media(min-width: 960px) {
      background-size: 110% auto;
      background-position: left top;
    }

    .title {
      @extend .h1;

      font-size: 3rem;
      font-weight: 900;
      line-height: 1em;
      color: var(--color-blue);
      text-transform: uppercase;
      text-align: left;
      margin: 0;

      @media (min-width: 768px) {
        color: var(--color-paper);
      }

      @media (min-width: 1200px) {
        font-size: 5rem;
      }

      .fr & {
        max-width: 14ch;
      }
    }

    .sub-title {
      @extend .h3;

      font-size: 1.2rem;
      font-weight: 200;
      line-height: 1.5em;
      text-align: left;
      margin: 0;

      .fr & {
        max-width: 30ch;
      }
    }
  }

  .popup-deep-dive__section-intro {
    margin: 15% 0 0 15%;

    @media(min-width: 768px) {
      margin-top: 36%;
    }

    @media(min-width: 960px) {
      margin-top: 15%;
    }
  }

  .popup-deep-dive__section-content {
    background-color: var(--color-paper);
    padding: 1rem 8rem 4rem;
    margin-top: -2rem;
  }
}

#section-deep-dive {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;

  #deep-dive__section-intro {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100vw;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    position: relative;
    padding-top: 220px;

    background-image: url('../assets/exports/deep-dive-background.png');
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;

    @media (min-width: 1200px) {
      padding: 2rem;

      .container {
        margin: 15% 0 0 15%;
      }
    }

    @media (min-width: 1200px) {
      min-height: 1280px;
    }

    .title {
      font-size: 3rem;
      font-weight: 900;
      line-height: 1em;
      color: var(--color-blue);
      text-transform: uppercase;
      text-align: left;
      margin: 0;

      @media (min-width: 1200px) {
        color: var(--color-paper);
      }

      .fr & {
        max-width: 15ch;
      }

      @media (min-width: 1200px) {
        font-size: 5rem;
      }
    }

    .sub-title {
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 1.5em;
      text-align: left;
      margin: 0 0 1rem;
      max-width: 240px;

      .fr & {
        max-width: 30ch;
      }

      .text-break {
        display: inline;
      }

      @media (min-width: 1200px) {
        min-width: 100%;

        .fr & {
          min-width: auto;
          max-width: 55ch;
        }

        .text-break {
          display: block;
        }
      }
    }
  }

  #deep-dive-content {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    @media(min-width: 768px) {
      margin-top: -600px;
      z-index: map-get($z-index, modal);
    }

    .deep-dive__section-content {
      padding: 1rem;

      @media(min-width: 768px) {
        max-width: 960px;
        padding: 2rem 6rem 2rem 4rem;
        margin-left: 15%;

        background: var(--color-paper);
        -webkit-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
        box-shadow: 0 16px 16px -8px rgba(0,0,0,0.5);
      }

      p {
        font-size: 1.25rem;
        line-height: 1.6em;
      }
    }
  }
}
