// Spacing
$padding: 2rem;

// resets


// colours
:root {
  --color-blue-light: #00BDF2;
  --color-blue: #6099FC;
  --color-blue-dark: #426AB3;
  --color-paper: #fff;
  --color-yellow: #FCAF17;
  --color-black: #000;
  --color-green: #99CA3C;
  --color-purple: #B35FA6;
}

// fontawesome
$fa-font-path: "../assets/fontawesome-free-5.13.0-web/webfonts";

// fontfamily
$font-display: Arial Black, Arial Bold, Gadget, sans-serif; 
$font-body: Arial, Helvetica, sans-serif;

$z-index: (
  admin              : 500,
  modal-controls     : 310,
  modal              : 300,
  header             : 200,
  navigation-top     : 150,
  navigation         : 100,
  footer             : 90,
  bellow-parent      : -1,
);
// usage example :: z-index: map-get($z-index, navigation);
// source :: https://jonsuh.com/blog/organizing-z-index-with-sass/
